---
layout: default
---

<h1>Tutorials</h1>


<h3>By Sensor</h3>

<ul>
  {% for product in site.products %}
    {% assign list = site.posts | where: 'categories', "tutorials" | where_exp: "item", "item.sensors contains product.id_name" %}
    {% assign list_length = list | size %}
    {% if list_length > 0 %}
      <li>{{product.display_name}}</li>
      <ul>
        {% for post in list %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

  {% endfor %}
</ul>


{% assign list = site.posts | where: 'categories', "labs" %}
{% assign list_length = list | size %}
{% if list_length > 0 %}
  <h3>Basic know-how</h3>

  <ul>
    {% for post in list %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}