<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href={{"/" | prepend: site.baseurl"}}>Developer Page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href={{"/" | prepend: site.baseurl"}}>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href={{"/tutorials.html" | prepend: site.baseurl}}>Tutorials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href={{"/drivers.html" | prepend: site.baseurl}}>Drivers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href={{"/products.html" | prepend: site.baseurl}}>Products</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contact & Links
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://www.sensirion.com/en/about-us/contact/">Contact Support</a>
              <a class="dropdown-item" href="https://www.sensirion.com">Sensirion Main Website</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://github.com/sensirion">Sensirion on Github</a>
              <a class="dropdown-item" href="https://www.snapeda.com/search/?q=sensirion&SEARCH=Search&sort=&resistance=&tolerance=&search-type=parts&manufacturer=Sensirion">Sensirion on SnapEDA</a>
            </div>
          </li>
      </div>
    </div>
  </div>
  </nav>